# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://user1:japan2035@cluster0.w0ne8gb.mongodb.net/dw_website?retryWrites=true&w=majority

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dvhjbcomu
CLOUDINARY_API_KEY=857497978374141


CLOUDINARY_API_SECRET=nlJ97Y_PmqobFnoJDo_lYNk7GuE

# Server Port
PORT=5000

# CORS Origin (your frontend URL)
CORS_ORIGIN=http://localhost:3000
